/*  */
body{
	width: auto;
	height: 90vh;
	background: linear-gradient(to right, #2b838b, #7a4caf);
	display: flex;
	align-items: center;
	justify-content: center;
}
::-webkit-scrollbar{
	display: none;
}
.container{
	width: 410px;
	height: auto;
	padding: 1.5rem 2rem;
	text-align: start;
	border-radius: 0px;
	/* background: linear-gradient(315deg, #317469, #3a8a7d); */
	box-shadow:  0px 0px 26px #1f4a43,
				 0px 0px 26px #0b4339;
	display: flex;
	align-items: flex-start;
	justify-content: start;
	flex-direction: column;
	transform: translate(10px, 0);
}

h1 {
	font-size: 2.3rem;
	margin-bottom: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 2.1rem;
	width: 100%;
}

label {
	margin-bottom: 0.77rem;
	font-size: 1.5rem;
	font-weight: 500;
}

input[type="number"] {
	width: 95%;
	padding: 0.7rem 0.5rem;
	font-size: 16px;
	border: none;
	border-radius: 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 1.2rem;
}
input:is(:hover, :focus, .active:hover:focus, .active:focus){
	outline: none;
	border: none;
}

button {
	width: 73%;
	padding: 0.8rem 0.9rem;
	font-size: 20px;
	border: none;
	border-radius: 0px;
	background-color: #083063;
	color: #fff;
	cursor: pointer;
	margin-top: 1rem;
	transition: 0.55s ease-out;
}

button:hover {
	background-color: #104180;
}

#result {
	font-size: 24px;
	font-weight: bold;
	color: #a7ffb8;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}
